@keyframes opening {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.chat_container {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.chat {
  width: 120px;
  height: 240px;
  
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.chat_close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.chat_toggle-btn {
  position: absolute;
  bottom: 0;
  right: 0;

  background-color: red;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition-duration: 0.5s;
  transform: scale(1);
}

.chat_toggle-btn:hover {
  transform: scale(1.2);
}

.opening {
  animation: opening 0.5s forwards;
}

.closing {
  animation: opening 0.5s reverse forwards;
}

textarea {
  width: 100%;
}
