@keyframes flying-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-200px);
    opacity: 0.1;
  }
}

@keyframes flying1 {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-50px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes flying2 {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(50px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes flying3 {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50px);
  }

  75% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes flying4 {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  75% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
  }
}
